<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    {% block addcss %}{% endblock %}
    {% block title %}<title>Blog</title>{% endblock %}

</head>
<body>
    <header class="site-header">
        <a href="index.html" class="brand">FlaskBlog</a>
        <a href="{{url_for('create_post')}}" class="new-post-btn">+ New Post</a></header>
        
        <main class="container"> {% block content %} Welcome {% endblock %}</main>
    </body>
</html>